# lil_cluster
Фундаментальная модель в ансамбле

Изучив специфику авторынка стало понятно, что бренд и модель - названия, не имеюще общих правил. Поэтому модель их может использовать только в качетсве dummy переменных. Но 500 с лишним переменных для меня показались слишком большим количеством для 80 тысяч автомобилей. Поэтому я решил разделить их специфику по моделям. Тут становится интереснее. Оказывается автомобили одной и той же модели, но разных комплектаций могут кратно отличаться в цене. Исходя из этого инсайта я понял, что можно сравнивать автомобили только в рамках одной модели. Этим и будет заниматься lil_cluster

Оказалось, что в датасете множество машин одной и той же модели, более того, в тренировочном датасете оказалось 98% наименований моделей, покрывающие наименования тестового датасета. Исходя из этого, lil_cluster будет иметь главный решающий голос в ансамбле в случаях, когда модель машины ему хорошо известна

In [51]:
%store -r df

df = pd.concat(
[df[['brand','model_name','sell_id','price','engineDisplacement', 'enginePower','mileage','car_age', 'model_product_time']] ,
pd.get_dummies(df.bodyType,prefix='bodyType'),
pd.get_dummies(df.fuelType,prefix='fuelType'),
pd.get_dummies(df.vehicleTransmission,prefix='vehicleTransmission'),
pd.get_dummies(df.Привод,prefix='Привод'),
pd.get_dummies(df.Владельцы,prefix='Владельцы'),
pd.get_dummies(df.Владение,prefix='Владение'),
pd.get_dummies(df.color,prefix='color'),
pd.get_dummies(df.ПТС,prefix='ПТС'),
pd.get_dummies(df.Руль,prefix='Руль'),
pd.get_dummies(df.numberOfDoors,prefix='numberOfDoors'),],axis=1)

test = df[df.price==-1]
train = df[df.price!=-1]

Для этой модели потребуется сократить разновидности моделей в тренировочной выборки до соответствия их тестовой

In [53]:
print(f'''{test.model_name.nunique()} - количество уникальных моделей 
{len(test.groupby(['brand','model_name']).count())} - количество\
уникальных моделей с привязкой к бренду

названия моделей в тестовом датасете - \
уникальны для всех предоставленных брендов''')

544 - количество уникальных моделей
544 - количествоуникальных моделей с привязкой к бренду

названия моделей в тестовом датасете - уникальны для всех предоставленных брендов

In [54]:
print(f'''{train.model_name.nunique()} - количество уникальных моделей 
{len(train.groupby(['brand','model_name']).count())} - количество\
уникальных моделей с привязкой к бренду

20 моделей из тренировочного датасета из разных брендов имеют одинаковое название''')

1086 - количество уникальных моделей
1105 - количествоуникальных моделей с привязкой к бренду

20 моделей из тренировочного датасета из разных брендов имеют одинаковое название

In [55]:
### Исключает модели, которых нет в  ###
filtered_train = train[train.model_name.isin(test.model_name.unique())
                      ].reset_index(drop=True)



'''Делает неуникальные для разных брендов названия моделей - уникальными'''
###############################################################################
grouped_ft = filtered_train.groupby(['brand','model_name']).count()

valco_non_unique = grouped_ft.reset_index(level=1).model_name.value_counts()[
    grouped_ft.reset_index(level=1).model_name.value_counts()!=1]

def change_name_to_unique(df):
    df_non_unique = df[
        df.model_name.isin(valco_non_unique.index)]

    for i in df_non_unique.index:
        df.at[i,'model_name'] = \
        df.iloc[i].brand + '_' + df.iloc[i].model_name

change_name_to_unique(filtered_train)
change_name_to_unique(test)

### Удаляет модели в трейне, которых нет в тесте после уточнения модели брендом
models_to_drop = (set(filtered_train.model_name.unique()) -set(test.model_name.unique()))
index_to_drop = filtered_train[filtered_train.model_name.isin(models_to_drop)].index

filtered_train.drop(index_to_drop,inplace=True)
###############################################################################

In [59]:
unknown = list(set(test.model_name.unique())- set(filtered_train.model_name.unique()))
display(unknown)
print('18 Моделей из тестового датасета нет в тренировочном')

['WILL_CYPHA',
 'ARTEON',
 'PRESEA',
 'PORTE',
 'SPARKY',
 'POLO_GTI',
 'GOLF_R32',
 'COROLLA_II',
 'RSQ3',
 'X4_M',
 'Z',
 '300ZX',
 'TORNEO',
 'LANCER_RALLIART',
 'IST',
 'OTTI',
 'ZEST',
 'LM']

18 Моделей из тестового датасета нет в тренировочном

Модель будет специфичной под тренировочный датасет. Далее я разделяю тестовый датасет, но, важно, чтобы при разделении и соединении датасетов не потерялся порядок, в котором идут авто.

## Предобработка

In [ ]:
from sklearn import tree                             
from sklearn.model_selection import train_test_split

tree.DecisionTreeRegressor(max_depth=None, max_features=None)
.fit(train_SKODA.drop(['price'],axis='columns'),np.log(train_SKODA.price))

In [81]:
for_pred

,engineDisplacement,enginePower,mileage,car_age,model_product_time,bodyType_внедорожник,bodyType_компактвэн,bodyType_купе,bodyType_лифтбек,bodyType_минивэн,...,color_синий,color_чёрный,ПТС_DUPLICATE,ПТС_ORIGINAL,Руль_LEFT,Руль_RIGHT,numberOfDoors_2.0,numberOfDoors_3.0,numberOfDoors_4.0,numberOfDoors_5.0
0,2.8,174,350000,29.8,1.0,0,0,0,0,0,...,0,1,0,1,1,0,0,0,1,0
1,1.8,90,173424,34.8,4.0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
2,2.3,136,230000,31.8,1.0,0,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
3,1.8,90,240000,31.8,1.0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
4,2.0,101,300000,29.8,1.0,0,0,0,0,0,...,0,1,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48020,3.0,150,12000,68.8,1.0,0,0,1,0,0,...,0,1,0,1,1,0,1,0,0,0
48021,3.0,150,45200,68.8,1.0,0,0,1,0,0,...,0,0,0,1,1,0,1,0,0,0
48022,3.0,258,800,2.8,1.0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
48023,2.3,190,15850,2.8,1.0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0
48024,3.0,258,18000,2.8,1.0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,1,0

In [97]:
price = filtered_train[['price']]
for_train = filtered_train.drop(['brand','model_name','price','sell_id'],axis='columns')

for_pred = test.drop(['brand','model_name','price','sell_id'],axis='columns')

In [94]:
from sklearn import tree                             


model_for_model = {}
for name in filtered_train.model_name.unique():
    model_for_model[name]=tree.DecisionTreeRegressor(
        max_depth=None, max_features=None)\
            .fit(for_train[filtered_train.model_name == name],
                 np.log(price[filtered_train.model_name == name]) )

In [114]:
#### АЛГОРИТМ ПРЕДСКАЗАНИЯ
pred = []
for i in test.index:
    if test.model_name[i] in unknown: pred.append(-1)
    else: pred.append(model_for_model[test.model_name[i]]\
                      .predict((pd.DataFrame(for_pred.iloc[i]).T))[0])

In [119]:
pd.Series(np.exp(pred)).to_pickle('lil_pred.pickle')